<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myfitnesssecure"
    tools:ignore="MissingLeanbackLauncher">

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BIND_JOB_SERV" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityGymsNearMyLocation" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        

        <activity android:name=".BiometricAuthActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".TuckJumpAct" />
        <activity android:name=".ThrustersAct" />
        <activity android:name=".AdvancedLevelActivity" />
        <activity android:name=".WalkingLungesAct" />
        <activity android:name=".CobWorkoutAct" />
        <activity android:name=".GluteBridgeAct" />
        <activity android:name=".ModerateLevelActivity" />
        <activity android:name=".ScissorsXAct" />
        <activity android:name=".BttflyCrunchAct" />
        <activity android:name=".BeginnerLevelActivity" />
        <activity android:name=".SquatsAct" />
        <activity android:name=".WorkoutAct" />
        <activity android:name=".WorkoutMainActivity" />
        <activity android:name=".NotificationPosts" />
        <activity
            android:name=".FoodActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".StepCounter"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".PostDetailsActivity"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".EditTaskDesk"
            android:parentActivityName=".ScheduleActivity" />
        <activity
            android:name=".NewTaskAct"
            android:parentActivityName=".ScheduleActivity" />
        <activity
            android:name=".ScheduleActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".InroductionAnimationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>